/* .upper-section {
    content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #111010 0%, rgba(17, 16, 16, 0.81) 100%);
        z-index: -1;
}
.tyre {
    position: absolute;
    z-index: -1;
} */
.getbtn{
    clip-path: polygon(20px 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 20px);
    padding: 16px 60px;
    background-color: #E81C2E;
}
