.navbar {
  /* background-image:url('/public/assets/card-bg.png'), linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.692),
    gray,
    rgba(255, 0, 0, 0.61)
    
  );
  background-size: cover;
  background-repeat: no-repeat;
  animation: color 15s linear infinite; */
  background-image: linear-gradient(165deg, #e81c2dea 50%,rgba(0, 0, 0, 0.792) 50%);
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}
.navBtn{
  color: #fff;
  background-image: linear-gradient(165deg, #e81c2dea 50%);
  padding: 8px 60px;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),100% 100%,0 100%,0 20px);
  border: 2px solid gray;
}
/* .navBtn:hover{
  clip-path: polygon(0 0,100% 0,100% calc(100% - 20px),100% 100%,0 100%,0 20px);
  padding: 12px 40px;
  background-color: #E81C2E;
  border: 2px solid #E81C2E;
} */

/* .navbar{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(6px);
  box-shadow: 0 20px 30px rgba(0,0,0,0.15);
} */
