.rotation {
  transform: rotate(0deg);
  transform-origin: center;
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bannerBtn {
  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
  padding: 16px 60px;
  background-color: #e81c2e;
  border: 2px solid #e81c2e;
}
.bannerBtn:hover {
  color: #fff;
  background-color: initial;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    100% 100%,
    0 100%,
    0 20px
  );
  border: 2px solid #e81c2e;
}
