.rotation {
  transform: rotate(0deg);
  transform-origin: center;
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bannerBtn {
  clip-path: polygon(
    20px 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 20px
  );
  padding: 16px 60px;
  background-color: #e81c2e;
  border: 2px solid #e81c2e;
}
/* .getbtn::after{
    content: '';
    position: absolute;
    top: -110%;
    left: -210%;
    width: 400%;
    height: 150%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255,255,255,.25);
    background: linear-gradient(to right,rgba(255,255,255,.25) 0%,rgba(255,255,255,.13) 77%,rgba(255,255,255,.5) 92%,#fff 100%);
} */

/* .banner-bg {
    background-image: linear-gradient(to left, #000000, #ff0000);
} */
.bannerBtn:hover {
  color: #fff;
  background-color: initial;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    100% 100%,
    0 100%,
    0 20px
  );
  border: 2px solid #e81c2e;
}
/* .getbtn:hover .getbtn::after{
      content: '';
    position: absolute;
    top: -110%;
    left: -210%;
    width: 400%;
    height: 150%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255,255,255,.25);
    background: linear-gradient(to right,rgba(255,255,255,.25) 0%,rgba(255,255,255,.13) 77%,rgba(255,255,255,.5) 92%,#fff 100%);
} */
.bannerCar:hover .bannerImg {
  display: none;
}
.bannerLightImg {
  display: none;
}
.bannerCar:hover .bannerLightImg {
  display: block;
}
/* @media only screen and (max-width: 600px){
    .banner{
       height: 20vh;
    }
} */
